@import '../../stylesheets/base';

.note-list {
  width: $width-3;
  height: 100%;
  border-right: 1px solid $color-gray;
  position: absolute;
  overflow-y: scroll;

  @include mobile {
    width: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    cursor: pointer;
    border-bottom: 1px solid $color-gray;

    &.current {
      background: $color-yellow;
    }

    span, a {
      display: inline-block;
      width: 100%;
      padding: 20px 10px;
      text-decoration: none;
      color: $text-color-black;
    }
  }
}
