$color-gray: #E8E8E8;
$color-yellow: #E7DAA9;
$color-black: #4A4A4A;
$color-white: #FFF;

$text-color-black: #4A4A4A;
$text-color-gray: #9B9B9B;

$font-size-x-large: 37px;
$font-size-large: 21px;
$font-size-normal: 14px;

$font-primary: Helvetica Neue;

$box-shadow-gray: 0 2px 30px 0 rgba(46, 47, 55, .33);

$width-1: calc(100% / 12);
$width-3: calc(100% * 3 / 12);
$width-9: calc(100% * 9 / 12);


$breakpoint-mobile: 640px;
